.header
  .header__left
    .header__left__user-info
      .header__left__user-info__name
        = current_user.name
      .header__left__user-info__image
        .fas.fa-user
  .header__center
  .header__right
    = link_to edit_book_path(@book.id) do
      .book-regist-btn 編集


.nav-main
  .nav-left
    .nav-left__title
      %p 本の詳細
    -# .nav-left__book-counter 『本のタイトル』


.main
  = image_tag "book.jpg", alt: "本の画像", class: "book-image"
  .book-info
    .book-info__author
      %h3 タイトル
      %p 安宅和人
    .book-info__publish
      %h3 出版社
      %p 英治出版
    .book-info__genre
      %h3 ジャンル
      %p 不明
    .book-info__registed_at
      %h3 登録日
      %p 2020年6月8日
.book-impression 本の感想を共有
