
.header{
  height: 50px;
  width: 100%;
  background-color: $side_blue_dark;
  color: #ffffff;
  display: flex;
  &__left{
    width: 400px;
    &__user-info{
      height: 40px;
      display: flex;
      &__name{
        height: 40px;
        width: 200px;
        margin: 5px 0 5px 20px;
        font-size: 24px;
        text-align: center;
        line-height: 40px;
        font-family: sans-serif;
      }
      &__image{
        height: 46px;
        width: 46px;
        background-color: silver;
        border-radius: 50%;
        margin: 2px 0;
        position: relative;
        .fas.fa-user{
          color: $side_blue_dark;
          font-size: 40px;
          margin: 0 auto;
          border-radius: 50%;
          position: absolute;
          left: 5px;
          top: 6px;
        }
      }
    }
  }
  &__center{
    width: 50%;
    i{
      height: 20px;
      width: 20px;
      text-align: center;
      line-height: 30px;
      color: $side_blue_dark;
    }
    input{
      height: 100%;
      width: 90%;
      padding: 5px 10px;
    }
    &__new{
      width: 100%;
      hwight: 100%;
      margin: 0;
      padding: 0;
      background-color: $side_blue_dark;
    }
  }
  &__right{
    width: 30%;
    .book-keyword_search-btn{
      height: 40px;
      width: 130px;
      color: #09f;
      background-color: snow;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      line-height: 37px;
      margin: 5px 20px 5px 0;
      border: solid 2px #09f;
      float: right;
    }
    .deleat-btn{
      height: 40px;
      width: 70px;
      color: #09f;
      background-color: snow;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      line-height: 37px;
      margin: 5px 20px 5px 0;
      border: solid 2px #09f;
      float: right;
    }
    .book-regist-btn{
      height: 40px;
      width: 70px;
      color: #09f;
      background-color: snow;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      line-height: 37px;
      margin: 5px 20px;
      border: solid 2px #09f;
      float: right;
    }
    .logout-btn{
      height: 40px;
      width: 100px;
      color: #09f;
      background-color: snow;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      line-height: 37px;
      margin: 5px 20px 5px 0;
      border: solid 2px #09f;
      float: right;
    }
  }
}

.nav-main{
  background-color: snow;
  height: 70px;
  width: 100%;
  display: flex;
  .nav-left{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    &__title{
      color: #200;
      font-size: 32px;
      text-align: center;
      line-height: 60px;
      border-bottom: solid 5px #900;
      font-weight: bold;
      height: 60px;
      width: 200px;
      margin: 5px 5px 5px 70px;
    }
    &__book-counter{
      color: #200;
      font-size: 24px;
      text-align: left;
      line-height: 60px;
      height: 100%;
      width: 350px;
      margin: 5px;
      padding-left: 10px;
    }
  }
  .nav-right{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    font-size: 16px;
    line-height: 48px;
    padding: 10px;
    &__favorite{
      height: 100%;
      width: 96px;
      margin-right: 30px;
      color: #09f;
      border: solid 2px #09f;
    }
    &__genre{
      height: 100%;
      width: 96px;
      margin-right: 30px;
      color: #09f;
      border: solid 2px #09f;
    }
    &__author{
      height: 100%;
      width: 96px;
      margin-right: 30px;
      color: #09f;
      border: solid 2px #09f;
    }
  }
}

.book-content{
  height: 100%;
  width: 100%;
  background-color: snow;
  position: relative;
  .bookshelf{
    border-radius: 5px;
    margin: 0 70px;
    border-left: solid 30px #200;
    border-right: solid 30px #200;
    .bookshelf-record{
      .bookshelf-head{
        background-color: #200;
        height: 80px;
        width: 100%;
      }
      .bookshelf-back{
        background: linear-gradient(to bottom, #300, #400);
        height: 250px;
        width: 100%;
      }
      .bookshelf-floor{
        background-color: #100;
        height: 50px;
        width: 100%;
      }
    }
  }
  &__list{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    &__shelf{
      height: 300px;
      padding: 80px 100px 0;
      z-index: 2;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  .book-item-block{
    background-color: snow;
    height: 280px;
    width: 200px;
    margin: 0 23px 100px;
    transition: 0.2s ease-in-out;
    &:hover {
      transform: scale(1.1);
      transition: 0.3s ease-in-out;
    }
  &__image{
    height: 225px;
    width: 160px;
    margin: 15px 20px 0;
  }
  &__nav{
    height: 40px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    display: flex;
    &__title{
      width: 100%;
      font-size: 14px;
      padding: 0 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      white-space: nowrap;
    }
    &__pages{
      width: 50%;
      font-size: 12px;
      margin: 0 3px;
    }
  }
  .hidden{
    height: 0;
    width: 0;
  }
  }
}

.pagenate{
  color: gray;
  text-align: center;
  font-size: 18px;
  margin: 20px auto;
}

.footer{
  color: rgba(255, 255, 255, 0.288);
  height: 100px;
  width: 100%;
  background-color: $side_blue_dark;
  text-align: center;
  line-height: 100px;
  font-size: 16px;
  margin-top: auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}