.main{
  background: linear-gradient(#253141e5, #2531418e);
  height: 500px;
  width: 850px;
  margin: 10px auto;
  display: flex;
  .book-image{
    background-color: snow;
    height: 420px;
    width: 300px;
    margin: 40px 25px;
    padding: 38px 23px;
    border: solid 2px #253141;
  }
  .book-info{
    height: 400px;
    width: 500px;
    padding: 30px 30px 0 0;
    &__author{
      color: #fff;
      height: 50px;
      width: 100%;
      border-bottom: solid 3px #253141;
      margin: 50px auto 20px;
      letter-spacing: 1px;
    }
    &__publish{
      // background-color: snow;
      color: #fff;
      height: 50px;
      width: 100%;
      border-bottom: solid 3px #253141;
      margin: 50px auto 20px;
      letter-spacing: 1px;
    }
    &__genre{
      // background-color: snow;
      color: #fff;
      height: 50px;
      width: 100%;
      border-bottom: solid 3px #253141;
      margin: 50px auto 20px;
      letter-spacing: 1px;
    }
    &__registed_at{
      // background-color: snow;
      color: #fff;
      height: 50px;
      width: 100%;
      border-bottom: solid 3px #253141;
      margin: 50px auto 20px;
      letter-spacing: 1px;
    }
  }
}
.book-impression{
  color: #09f;
  background-color: snow;
  height: 100px;
  width: 400px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  line-height: 97px;
  border: solid 3px #0ff;
  margin: 20px auto 0;
}
