.main{
  background: linear-gradient(#253141e5, #2531418e);
  height: 500px;
  width: 850px;
  margin: 10px auto;
  display: flex;
  .book-image{
    background-color: snow;
    height: 420px;
    width: 300px;
    margin: 40px 25px;
    padding: 38px 23px;
    border: solid 2px #253141;
  }
  .book-info{
    height: 400px;
    width: 500px;
    color: snow;
    padding: 50px 30px 0 0;
    h4{
      font-size: 24px;
      // margin: 30px 0 10px;
    }
    p{
      height: 40px;
      width: 100%;
      color: rgba(255, 250, 250, 0.7);
      line-height: 30px;
      margin: 20px 0;
      padding: 0 20px;
      border-bottom: solid 3px #253141;
      letter-spacing: 1px;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.show{
  color: #200;
  font-size: 32px;
  text-align: center;
  line-height: 60px;
  border-bottom: solid 5px #900;
  font-weight: bold;
  height: 60px;
  width: 200px;
  margin: 10px 0 10px 295px;
}

.book-impression{
  color: #09f;
  background-color: snow;
  height: 100px;
  width: 400px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  line-height: 97px;
  border: solid 3px #09f;
  margin: 20px auto 0;
}
