.account-page {
  background-color: linear-gradient(#253141, #071c36);
  background: linear-gradient(#253141, #071c36);
  background: -webkit-linear-gradient(#253141, #253141ab);
  background: -mozlinear-gradient(#253141, #071c36);
  background: -ms-linear-gradient(#253141, #071c36);
  height: 100%;
  width: 100%;
  padding-top: 60px;
  &__inner {
    height: calc(100vh - 60px);
    width: 700px;
    color: #253141;
    margin: 0 auto;
    form{
      display: flex;
    }
    &--left{
      background-color: snow;
      height: 450px;
      width: 348px;
      border-right: solid 2px #ababab;
      border-radius: 3%;
      .facebook-btn{
        margin: 60px 49px 10px;
        height: 40px;
        letter-spacing: 1px;
        text-align: center;
        background-color: #4267b2;
        border-radius: 20px;
        color: white;
        text-align: center;
        width: 250px;
        line-height: 40px;
        transition: 0.2s ease-in-out;
        a{
          padding: 20px 40px;
        }
        &:hover {
          opacity: 0.7;
          transition: 0.2s ease-in-out;
        }
      }
      .content{
        height: 40px;
        border-radius: 20px;
        border: solid 1px #d0d0d0;
        margin: 20px 50px 0;
        cursor: pointer;
        position: relative;
        background-color: snow;
        text-align: center;
        line-height: 40px;
        display: flex;
        justify-content: center;
        transition: 0.2s ease-in-out;
        &:hover {
          background-color: gainsboro;
          opacity: 0.7;
          transition: 0.3s ease-in-out;
        }
        .google-icon{
          height: 20px;
          width: 20px;
          margin: 10px 10px 0 0;
        }
      }
    }
    &--right{
      background-color: snow;
      height: 450px;
      width: 348px;
      font-size: 16px;
      border-left: solid 2px #ababab;
      border-radius: 3%;
      .content{
        height: 40px;
        border-radius: 7px;
        border: solid 1px #d0d0d0;
        margin: 80px 50px;
        cursor: pointer;
        position: relative;
        background-color: snow;
        text-align: center;
        line-height: 40px;
        display: flex;
        justify-content: center;
        transition: 0.2s ease-in-out;
        &:hover {
          background-color: gainsboro;
          opacity: 0.7;
          transition: 0.3s ease-in-out;
        }
        img{
          height: 20px;
          width: 20px;
          margin: 10px 5px;
          z-index: 2;
        }
        a{
          z-index: 2;
          color: #253141;
          letter-spacing: 1px;
        }
      }
      .top-image{
        width: 100%;
        margin-top: 80px;
      }
    }
  }

  h2 {
    color: snow;
    margin-bottom: 60px;
    letter-spacing: 3px;
    font-size: 48px;
    font-weight: 200;
    font-family: serif;
    text-align: center;
  }
  h4 {
    margin: 20px;
    padding: 20px;
    font-size: 16px;
    text-align: center;
  }
  .field {
    margin-bottom: 10px;
    .field-label {
      margin: 10px 10px 5px;
      padding: 15px 0;
      letter-spacing: 1px;
      font-size: 16px;
      font-weight: 200;
      i {
        font-size: 16px;
      }
    }
    .field-input {
      border-bottom: solid 3px #253141;
      margin: 10px;
      margin-bottom: 30px;
      // transform: scale(0, 1);
      // transform-origin: left top;
      // transition: transform .3s;
      // &:hover {
      //   transform: scale(1, 1);
      // }
    }
    input {
      width: 100%;
      padding: 5px;
      letter-spacing: 1px;
    }
    .account-page_error{
      color: red;
      height: 20px;
      width: 100%;
      margin: 0 10px;
    }
    .account-page_match-error{
      color: red;
      height: 20px;
      width: 100%;
      margin: 0 10px;
    }
  }

  .btn {
    display: inline-block;
    height: 50px;
    padding: 0 30px;
    letter-spacing: 1px;
    text-align: center;
    border: none;
    border-radius: 2px;
  }
  input[type='submit'] {
    width: 250px;
    margin: 40px 0 0 48px;
    color: #fff;
    background-color: #38aef0;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
    &:hover {
      opacity: 0.7;
      transition: 0.2s ease-in-out;
    }
  }
  .field-label {
    .field_with_errors {
      display: inline-block;
      color: #d65f4c;
      font-weight: 400;
    }
  }
  .field-input {
    .field_with_errors {
      position: relative;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background-color: #d65f4c;
      }
    }
  }
}

.actions{
  margin: 20px auto;
}

.login-btn{
  height: 50px;
  width: 100%;
  margin: 20px 0;
  text-align: center;
  a{
    transition: 0.2s ease-in-out;
    &:hover {
      opacity: 0.6;
      transition: 0.2s ease-in-out;
    }
  }
}

.new-btn{
  height: 50px;
  width: 100%;
  margin: 20px 0;
  text-align: center;
  a{
    transition: 0.2s ease-in-out;
    &:hover {
      opacity: 0.6;
      transition: 0.2s ease-in-out;
    }
  }
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;

  h2 {
    margin-bottom: 10px;
    color: #d65f4c;
    font-size: 14px;
  }

  ul {
    margin: 0;
    padding-left: 17px;
    list-style: square;
  }

  li {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
}
